ALPHA_VANTAGE_KEY=your_alpha_vantage_key_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=your_snowflake_region_here
S3_BUCKET=your_s3_bucket_name_here
SNOWFLAKE_ACCOUNT=your_account.region_here
SNOWFLAKE_USER=your_snowflake_username_here
SNOWFLAKE_PASSWORD=your_snowflake_password_here
SNOWFLAKE_DATABASE=your_snowflake_database_here
SNOWFLAKE_WAREHOUSE=your_snowflake_warehouse_here
SNOWFLAKE_ROLE=your_snowflake_role_here